@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Basic_Inventory_Management_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-switch/bootstrap-switch.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/solid.min.css" integrity="sha512-/r+0SvLvMMSIf41xiuy19aNkXxI+3zb/BN8K9lnDDWI09VM0dwgTMzK7Qi5vv5macJ3VH4XZXr60ip7v13QnmQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link href="~/others/toastr/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Basic_Inventory_Management_System.styles.css" asp-append-version="true" />     
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 py-3" style="background-color:#FFFEFE;">
            <div class="container-fluid px-5">
                <a class="navbar-brand fw-bolder" asp-area="" asp-controller="Home" asp-action="Index" style="color:#BE254D;">BIMS™</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" asp-area="" asp-controller="Home" asp-action="Index" style="color:#57F35A;">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fw-bolder" href="#" id="navbarDropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#57F35A;">
                                    Manage Access
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item fw-bolder" asp-controller="UserManagement"
                                       asp-action="UserList" style="color:#57F35A;">Users</a>
                                    <a class="dropdown-item fw-bolder" asp-controller="RoleManagement"
                                       asp-action="RoleList" style="color:#57F35A;">Roles</a>
                                </div>
                            </li>
                        }
                       @*  @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fw-bolder" href="#" id="navbarDropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#57F35A;">
                                    Manage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item fw-bolder" asp-controller="UserManagement"
                                       asp-action="UserList" style="color:#57F35A;">Users</a>
                                </div>
                            </li>
                        } *@

                        @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle fw-bolder" href="#" id="navbarDropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#57F35A;">
                                    Master Control
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item fw-bolder" asp-controller="Category"
                                       asp-action="Index" style="color:#57F35A;">Category</a>
                                    <a class="dropdown-item fw-bolder" asp-controller="Supplier"
                                       asp-action="Index" style="color:#57F35A;">Supplier</a>
                                    <a class="dropdown-item fw-bolder" asp-controller="Customer"
                                       asp-action="Index" style="color:#57F35A;">Customer</a>
                                </div>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link fw-bolder" asp-area="" asp-controller="Product" asp-action="Index" style="color:#57F35A;">Product</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link fw-bolder dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#57F35A;">
                                Orders
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item fw-bolder" asp-controller="Purchase"
                                   asp-action="Index" style="color:#57F35A;">Purchase Orders</a>
                                <a class="dropdown-item fw-bolder" asp-controller="Sales"
                                   asp-action="Index" style="color:#57F35A;">Sales Orders</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link fw-bolder dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#57F35A;">
                                Report
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item fw-bolder" asp-controller="Report"
                                   asp-action="Inventory" style="color:#57F35A;">Inventory</a>
                                <a class="dropdown-item fw-bolder" asp-controller="Report"
                                   asp-action="Purchase" style="color:#57F35A;">Purchase</a>
                                <a class="dropdown-item fw-bolder" asp-controller="Report"
                                   asp-action="Sales" style="color:#57F35A;">Sales</a>
                            </div>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    @* Split the email at '@' and take the first part *@
                                    <span class="text-dark fw-bolder">
                                        Hey @User.Identity?.Name.Split('@')[0]!
                                    </span>
                                    <button type="submit" class="btn" style="background-color:#57F35A;">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn fw-bolder" style="background-color:#57F35A;" asp-controller="Account" asp-action="Register">
                                    Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn ms-2 fw-bolder" style="background-color:#57F35A;" asp-controller="Account" asp-action="Login">
                                    Login
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center" style="background-color:#FFFEFE;">
            &copy; 2024 - BIMS -
            <a href="https://www.linkedin.com/in/sujoncep/" target="_blank">LinkedIn</a> |
            <a href="https://github.com/xujoncep" target="_blank">GitHub</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-switch/bootstrap-switch.min.js"></script>
    <script src="~/others/toastr/toastr.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
